<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://github.com/ultraq/thymeleaf-layout-dialect"
      layout:decorate="~{layouts/loggedInLayout}">
<head>
    <title th:text="#{users.label}"></title>
</head>

<body>
<section class="container">
    <div layout:fragment="content">

        <h2 class="row">
            <div class="inner">
                <label th:text="#{users.label}"></label>
                <a th:href="@{'/users/create/'}"
                   th:text="#{users.create}"
                   class="btn btn-primary"></a>
            </div>
        </h2>

        <div th:if="${#strings.toString(param.create)} == 'success'" class="alert alert-info">
            <span th:text="#{users.create.success}"></span>
        </div>
        <div th:if="${#strings.toString(param.delete)} == 'success'" class="alert alert-info">
            <span th:text="#{users.delete.success}"></span>
        </div>
        <div th:if="${#strings.toString(param.update)} == 'success'" class="alert alert-info">
            <span th:text="#{users.update.success}"></span>
        </div>


        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th th:text="#{create.username}"></th>
                <th th:text="#{create.name}"></th>
                <th th:text="#{create.email}"></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tr th:each="user : ${users}">
                <td th:text="${userStat.count}"></td>
                <td>
                    <a th:href="@{users/{id}(id=${user.id})}"
                       th:text="${user.username}"
                       th:onclick=""></a>
                </td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.email}"></td>
                <td>
                    <div class="pull-right">
                        <a class="btn btn-success"
                           th:text="#{users.edit}"
                           th:href="@{users/edit/{id}(id=${user.id})}">
                        </a>
                        <a class="btn btn-danger"
                           th:text="#{users.delete}"
                           th:href="@{users/delete/{id}(id=${user.id})}">
                        </a>
                    </div>
                </td>
                <td>
                </td>
            </tr>
        </table>
    </div>
</section>
</body>
</html>